/* general */

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: "Average", serif;
}
body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
body,
html,
.welcomeContainer {
    margin: 0;
    padding: 0;
}
.mainDiv {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

button {
    background-color: whitesmoke;
    color: #02010f;
    outline: 0;
    border: 1px solid #02010f;
    height: 30px;
    border-radius: 10px;
}
button:hover {
    background-color: #f3d3d3;
    cursor: pointer;
}
a {
    text-decoration: none;
}
a:hover {
    color: #ce2e6c;
    font-size: bold;
}
.welcomeContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("./lemon.mp4");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    position: fixed;

    /* background: rgba(0, 0, 0, 0.5); */
    color: #f1f1f1;

    padding: 20px;
    font-family: "Notable", sans-serif;
}

.modal {
    position: fixed;

    bottom: 50%;
    left: 50%;
    transform: translate(-70%, 50%);
}
.firstModal {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    font-size: 150px;
    text-transform: uppercase;
    text-align: center;
}
.enter {
    width: 100px;
    position: fixed;
    bottom: 8%;

    right: -5%;
}
#enterH1 {
    font-size: 150px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 800;
    letter-spacing: -60px;
    text-decoration: none;
}

#enterH1:hover {
    color: #98e2c6;
}
.modal h2 {
    font-size: 50px;
}
.modal h1 {
    font-size: 200px;
    text-decoration: none;
}

.welcomeContainer a {
    color: white;
}

header {
    width: 100%;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: whitesmoke;
    color: #1f262a;
    margin: 0px;
    border-bottom: 1px solid #87b38d;
}

header h2 {
    font-family: "Average";
    color: #ce2e6c;
    font-size: 30px;
    margin-left: 20px;
    padding: 5px;
}

.rightHead {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 800px;
    margin-right: 20px;
}

header a {
    color: #1f262a;
    text-decoration: none;
    padding: 5px;
    margin: 0px 40px;
}

.searchContainer img {
    width: 100px;
    height: 100px;
}

.searchContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.host img {
    width: 50px;
    height: 50px;
}

.eventDesc img {
    height: 400px;
}

.eventAttendees img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.imgAndDeleteContainer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

[type="text"],
[type="password"],
[type="email"],
[type="number"],
[type="search"],
[type="url"],
[type="color"],
[type="date"],
[type="time"],
textarea {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 2.5625rem;
    padding: 0.5rem;
    border: 2px solid #e5e5e5;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1.125rem;
    color: #1f262a;
    background-color: #fefefe;
    border-radius: 4px;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

textarea {
    width: 300px;
    height: 200px;
}

/* search page */
.allEventsContainer {
    padding: 100px 50px;
}
.searchIntro {
    display: flex;
    justify-content: center;
}

.searchIntro img {
    width: 600px;
    height: 400px;

    border-radius: 5px;
}

.leftIntro {
    font-family: "Montserrat";
    width: 600px;
    margin: 50px;
}

.leftIntro h1 {
    font-size: 50px;
}
.leftIntro p {
    font-size: 25px;
}

.yourEvents,
.eventsThisWeek,
.eventsPop {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yourIntro,
.weekIntro,
.popIntro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 80%;
}

.yourIntro h1,
.weekIntro h1,
.popIntro h1 {
    font-size: 30px;
}

.yourIntro a,
.weekIntro a,
.popIntro a {
    text-decoration: none;
    color: #ce2e6c;
}
.yourIntro a:hover,
.weekIntro a:hover,
.popIntro a:hover {
    text-decoration: none;
    color: #1f262a;
}

.card {
    height: 400px;
    width: 300px;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.card * {
    margin-bottom: 10px;
}
.card h2 {
    color: #1f262a;
}

.time {
    color: #ce2e6c;
    opacity: 0.8;
}
.address {
    color: #1f262a;
    opacity: 0.7;
}

.weekContainer,
.popContainer,
.yourContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
}

.card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.fas {
    margin-right: 10px;
}

.horizontal img {
    width: 200px;
}

.fa-arrow-circle-right,
.fa-arrow-circle-left {
    font-size: 40px;
    color: darkgray;
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
}
